.cart{
    margin: 50px 200px;
}
.cart h3{
    text-align: center;
    font-weight: 300;
    color: #ff4141;
}
.empty-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty-cart img{
    opacity: .5;
}

@media screen and (max-width:600px) {
    .cart{
        margin: 50px 20px;
    }
}